body {
  padding-top: 60px;
}

/* navigation
*/

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-right: 50px;
  margin-left: 0px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.navbar-fixed-top .nav-phone {
  font-size: 24px;
  padding-top: 10px;
  font-weight: bold;
}
.navbar-fixed-top .nav-phone a {
  color:#fff;
}
.navbar-fixed-top .nav-phone a:hover {
  text-decoration: none;
  cursor: default;
}
.navbar-fixed-top .nav-phone span.call {
  color: #ffbb00;
}
.navbar-fixed-top .nav-phone span.number {
  margin-right: 15px;
}

/* hero units
*/
.hero-unit-container {
  background: url("img/hero-unit-container-bg.png") repeat-x;
  margin:-20px 0 20px;
}
.hero-unit {
  background: url("img/hero-unit-lock-outs.jpg") no-repeat 50% 0;
  height: 240px;  
  margin: 0;
  padding: 0;
}

/* hero call to actions
*/
.hero-cta {
  background: #f1f1f1;
  padding: 20px 0;
}
.row-fluid .hero-cta {
  margin-bottom: 40px;
}
.hero-cta img:first-child {
  margin-left: 40px;
}
.hero-cta .btn {
  margin: 10px 0 0;
  padding: 10px 22px;
}
.hero-cta .hero-cta-icons {
  float:left;
  margin: 0 20px 0 9%;
}
.btn-inverse {
  font-size:18px;
  background-color: #111;
  box-shadow:0 0 2px rgba(0,0,0,0.4);
  background-image: -moz-linear-gradient(top, #333, #111);
  background-image: -ms-linear-gradient(top, #333, #111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#111));
  background-image: -webkit-linear-gradient(top, #333, #111);
  background-image: -o-linear-gradient(top, #333, #111);
  background-image: linear-gradient(top, #333, #111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111', GradientType=0);
  border-color: #262626 #262626 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #000;
}
.btn-inverse:active, .btn-inverse.active {
  background-color: #0c0c0c \9;
}

.hero-unit-mini-container {
  margin-top: -20px;
  background: url("img/hero-unit-container-bg.png") repeat-x;  
}
.hero-unit-mini a {
  background: url("img/hero-unit-mini-lock-outs.jpg") no-repeat;  
  display:block;
  height:74px;
}

header.megatron {
  margin: 50px 0 40px;
}
header.megatron h1 {
  font-size: 43px;
  letter-spacing: -1px;
  color: #000;
}

article#main-content {
  margin: 0 0 50px;
}

.quick-scan {
  background: #f2f2f2;
  border-radius: 4px;
  padding: 20px 0;
}
.quick-scan ul {
  list-style: none;
}
.quick-scan ul li {
  margin: 0 0 10px;
}
.quick-scan-alt {
  background: url("img/quick-scan-alt-bg.png");
  border-radius: 0;
}

section#introduction {
  border-bottom: 1px solid #ccc;
  padding:0 0 36px;
}
section#primary-offerings {
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
section#primary-offerings p {
  font-size: 12px;
}

.phone-footer {
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  border-top: 1px solid #ccc;  
  padding: 18px 0 36px;
}
.phone-footer span {
  color: #FF9900;
}
.phone-footer a.call-us {
	color: #000;
	text-decoration: none;
}
.phone-footer a.call-us:hover {
	cursor: default;
}

.back-to-top {
  margin: 18px 0 0;
  z-index:50;
  position:relative;
}

.content-area {
}

.contact-details {
  margin: 20px 0;
}

.service-bar {
  margin: 30px 0 0;
  background: #f8f8f8;
}
.service-bar .nav {
  margin-bottom: 0;
}
.service-bar .nav-pills > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-right: 1px solid #ccc;
  color: #333;
}
.service-bar .nav-pills .active > a, .nav-pills .active > a:hover {
  color: #000;
  background: url("img/quick-scan-alt-bg.png") repeat-x;
}
.subnav-fixed {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1020;
  border-color: #D5D5D5;
  border-width: 0 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.content-area .services-header {
  margin: 40px 0 -50px;
}

section#emergencies, section#car-keys, section#residential-commercial {
/*  margin: 0 0 50px;*/
  padding: 80px 0 0;
}

.service-info {
  margin: 20px 0;
}
footer.footer {
  background: url("img/dark_dotted.png") repeat;
  padding: 18px 0 36px;
}
.footer-info {
  
}
.footer-info .brand {
  font-size:18px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 10px;
  margin-left: 0;
  font-weight: bold;
  color: #757474;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.footer-info span.copyright {
  color: #757474;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}

.master-locksmiths {
}
.master-locksmiths h4 {
	line-height: 13px;
	margin: 0 0 4px;
}
.master-locksmiths p {
	font-size: 12px;
	line-height: 12px;
}

/* Additional icons
*/
i.icon-check {
  width: 22px;
  height: 18px;
  margin-right: 5px;
  background: url("img/spriteme1.png");
  background-position: -10px -10px;
}
i.icon-history {
  width: 25px;
  height: 26px;
  margin-right: 5px;
  background: url("img/spriteme1.png");
  background-position: -10px -48px;
}
i.icon-keys {
  width: 24px;
  height: 26px;
  margin-right: 5px;
  background: url("img/spriteme1.png");
  background-position: -10px -94px;
}
i.icon-lock {
  width: 21px;
  height: 26px;
  margin-right: 5px;
  background: url("img/spriteme1.png");
  background-position: -10px -140px;
}


/* Type treatment
*/
h1.jumbotron {
  font-size: 28px;
  margin: 0 0 20px;
  line-height:26px;
}
h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  margin: 0 0 15px;
}
h3 {
  margin-bottom: 15px;
  line-height:18px;
  color: #111;
}
.boo {
  color: #990000;
  font-weight:bold;
}
p {
  font-size: 14px;
}
a {
  color: #FF9900;
  font-weight: bold;
}
a:hover {
  color: #990000;
}
p > a {
  text-decoration: underline;
}
ul li {
  font-size:14px;
}
strong {
  color:#000;
}



/* Smartphones */
@media (max-width: 480px) {
  body {
    padding-top:0;
  }
  .navbar .brand {
    font-size: 16px;
	margin-right: 0;
	color: white;
  }
  .hero-unit-container .hero-unit {
    background: url("img/hero-unit-lock-outs-320px.jpg") no-repeat 50% 0;
  }
  .hero-cta {
    border-radius:4px;
    position: relative;
    top: -10px;
    padding-top: 0;
    padding-bottom: 8px;
  }
  .row-fluid .hero-cta {
    width: 48%;
    float: right;
    text-align: center;
    margin-right: 4%;
  }
  .hero-cta:first-child {
    background: url("img/hero-unit-container-bg.png") repeat;
    float: right;    
    margin-right: 0;
  }
  .hero-cta:last-child {
  }
  .hero-cta .hero-cta-icons {
    display: none;
    visibility: hidden;
  }
  .hero-cta .btn-inverse {
    padding: 8px 10px;
    font-size: 14px;
  }
  .navbar .nav {
	  margin-top: 7px;
	  margin-bottom: 9px;
  }
  .navbar-fixed-top .brand {
    padding-left: 10px;
    color: white;
  }
  .navbar-fixed-top .nav-phone {
    padding-top: 6px;
  }
  .navbar-fixed-top .nav-phone a {
    font-size: 13px;
    line-height: 18px;
    color: white;
    float: right;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    padding: 4px 15px 5px;
    background-color: #ffbb00;
    background-image: -moz-linear-gradient(top, #ffbb00, #ffbb00);
    background-image: -ms-linear-gradient(top, #ffbb00, #ffbb00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffbb00), to(#ffbb00));
    background-image: -webkit-linear-gradient(top, #ffbb00, #FFA401);
    background-image: -o-linear-gradient(top, #ffbb00, #ffbb00);
    background-image: linear-gradient(top, #ffbb00, #ffbb00);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    border-color: #222 #222 black;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255,255,255,0.125);
  }
  .navbar-fixed-top .nav-phone span.number {
    display:none;
  }
  .navbar-fixed-top .nav-phone span.call {
    color: #000;
  }
  section#action .hero-cta {
    margin-bottom: 20px;
  }
  section#introduction .row .span8 {
    margin: 0 0 25px;
  }
  h1.jumbotron {
    margin: 0 0 10px;
  }
  section#primary-offerings .row .span4 {
    margin: 0 0 25px;
  }
  
  .hero-unit-mini a {
    background: url("img/hero-unit-mini-lock-outs-320px.jpg") no-repeat 50% 0;
  }
  
  .phone-footer {
    text-align: left;
    font-size: 20px;
  }
  .phone-footer a {
    color: #000;
  }
  
  .content-area .services-header {
  	margin: 30px 0;
  }
  
  header.megatron {
    margin: 25px 0;
  }
  header.megatron h1 {
    font-size: 32px;
    line-height:28px;
    color: #000;
  }
  h2 {
    margin-bottom:15px;
    line-height:20px;
  }
  article#main-content .span3 {
    margin: 0 0 20px;
  }
  
  section#emergencies, section#car-keys, section#residential-commercial {
    margin: 0 0 40px;
  }
  
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .subnav .container {
    padding: 0;
  }
  .subnav .nav > li {
    float: none;
  }
  .service-bar {
    margin-top: 15px;
  }
  .service-bar .nav-pills > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: none;
    border-bottom: 1px solid #ccc;
    color: #333;
  }
  
  section#emergencies, section#car-keys, section#residential-commercial {
    margin-top: -20px;
    padding-top: 20px;
  }
  
  .quick-scan ul li, .quick-scan-alt ul li {
    font-size: 12px;
  }
  
  .master-locksmiths {
	  display: none;
  }

  
}
/* Portrait tablets */
@media (min-width: 480px) and (max-width: 768px) {
  body {
    padding-top:0;
  }
  .navbar-fixed-top .brand {
    padding-left: 10px;
    color: white;
  }
  .hero-unit-container .hero-unit {
    background: url("img/hero-unit-lock-outs-480px-768px.jpg") no-repeat 50% 0;
  }
  section#primary-offerings .row .span4 {
    margin: 0 0 20px;
  }
  .hero-unit-mini a {
    background: url("img/hero-unit-mini-lock-outs-480px-768px.jpg") no-repeat 50% 0;
  }
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .service-bar .nav-pills > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: none;
    border-bottom: 1px solid #ccc;
    color: #333;
  }
  
  .quick-scan ul li, .quick-scan-alt ul li {
    font-size:12px;
  }
 
  
  
}
/* Landscape tablets */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top:0;
  }
  .navbar-fixed-top .brand {
    padding-left: 10px;
    color: white;
  }
  .hero-unit {
    background: url("img/hero-unit-lock-outs-768px-979px.jpg") no-repeat 50% 0;
  }
  .hero-unit-mini a {
    background: url("img/hero-unit-mini-lock-outs-768px-979px.jpg") no-repeat 50% 0;
  }
  .hero-cta .btn-inverse {
    padding: 8px 14px;
    font-size: 14px;
  }
  .hero-cta .hero-cta-icons {
	  float: left;
	  margin: 0 20px 0 0;
  }
  .subnav {
    position: static;
  }
  
  .quick-scan ul li, .quick-scan-alt ul li {
    font-size:12px;
  }
  
  
  
  
}
/* Large screens */
@media (min-width: 1210px) {	

.hero-cta .hero-cta-icons {
float: left;
margin: 0 20px 0 20%;
}


}



/* IE6
*/
.ie6 body {
  padding-top: 0px;
  text-align: center;
}
.ie6 .container {
  text-align: left;
}
.ie6 .container .row {
  margin-left: 0;
}
.ie6 .nav li {
  display:inline;
}
.ie6 .nav li a {
  float: left;
  padding: 10px 10px;
  color: #999;
}
.ie6 i.icon-check {
	float:left;
  background: url("img/spriteme1.png");
  background-position: -10px -10px;
}
.ie6 i.icon-history {
	float:left;  
  background: url("img/spriteme1.png");
  background-position: -10px -48px;
}
.ie6 i.icon-keys {
	float:left;  
  background: url("img/spriteme1.png");
  background-position: -10px -94px;
}
.ie6 i.icon-lock {
	float:left;  
  background: url("img/spriteme1.png");
  background-position: -10px -140px;
}

